.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.row {
  display: flex;
}

.open-button {
  background-color: rgb(81 81 214);
  color: white;
  padding: 10px 50px;
  border-radius: 7px;
  font-size: 20px;
  border: none;
  box-shadow: 0 2px 2px 0 rgb(122 122 122);
}

p {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  width: 100%;
}

.no-button {
  background-color: rgb(206 81 81);
  color: white;
  padding: 5px 30px;
  border-radius: 7px;
  font-size: 20px;
  border: none;
  box-shadow: 0 2px 2px 0 rgb(122 122 122);
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  flex-wrap: wrap;
}

.position {
  position: fixed;
  width: 100%;
  top: 35%;
  text-align: center;
}
