* {
  font-family: roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.row {
  display: flex;
}

.open-button {
  background-color: rgb(81 81 214);
  color: white;
  padding: 10px 50px;
  border-radius: 7px;
  font-size: 20px;
  border: none;
  box-shadow: 0 2px 2px 0 rgb(122 122 122);
}

p {
  font-size: 25px;
  font-weight: 900;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.button-div {
  text-align: center;
  width: 100%;
}

.no-button {
  background-color: rgb(206 81 81);
  color: white;
  padding: 5px 30px;
  border-radius: 7px;
  font-size: 20px;
  border: none;
  box-shadow: 0 2px 2px 0 rgb(122 122 122);
}

.wrap {
  flex-wrap: wrap;
}

.position {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.modal {
  padding: 30px;
  background-color: white;
}

.overlay {
  position: fixed;
  background: rgb(0 0 0 / 75%);
  z-index: 1;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.display-none {
  display: none;
}
