button {
  padding: 50px;
}

button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

thead {
  background-color: black;
  color: white;
}

.body:nth-child(odd) {
  background-color: lightgray;
}
