* {
  font-family: Karla, sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
  margin: auto;
}

.header-content {
  width: 100%;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

.content-section-div {
  display: flex;
  flex-wrap: wrap;
}

.content-section-one-half {
  flex-basis: calc(100% / 2);
  display: flex;
}

/* .column-one-third {
  flex-basis: calc(100% / 3);
} */

.column-two-third {
  flex-basis: calc(200% / 3);
  margin-top: 20px;
}

/* .image-item {
  height: 25px;
  width: 25px;
} */

img {
  height: 100px;
  width: 100px;
}

.anchor-div {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.learn-more {
  border: 1px solid;
  padding: 5px 35px;
  text-decoration: none;
  color: #e18680;
  font-size: 10px;
  font-weight: 900;
}

.header-content-p {
  font-size: 12px;
  font-weight: 400;
  color: rgb(0 0 0 / 59.6%);
}

.header-content-h1 {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
}

.content-section-p {
  font-size: 12px;
  line-height: 200%;
  font-weight: 200px;
  color: rgb(0 0 0 / 59.6%);
}

.bold {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 800px;
}

.intuitive {
  font-weight: 100px;
}
